// TSIG key include
include "{{ nsupdate_keyfile }}";

// Forward zone (dynamic)
zone "{{ zone_name }}" {
  type master;
  file "{{ bind_zone_dir }}/db.{{ zone_name }}";
  update-policy {
    grant {{ ddns_key_name }} zonesub ANY;
  };
};

// Reverse zones (dynamic)
{% set o1 = reverse_base.split('.')[0] %}
{% set o2 = reverse_base.split('.')[1] %}
{% for o in reverse_octets %}
zone "{{ o }}.{{ o2 }}.{{ o1 }}.in-addr.arpa" {
  type master;
  file "{{ bind_zone_dir }}/db.{{ o }}.{{ o2 }}.{{ o1 }}";
  update-policy {
    grant {{ ddns_key_name }} zonesub ANY;
  };
};
{% endfor %}
