options {
  directory "/var/cache/bind";

  listen-on { {{ dns_listen_v4 | join("; ") }}; };
  listen-on-v6 { {{ dns_listen_v6 | join("; ") }}; };

  allow-query { any; };
  recursion {{ 'yes' if (dns_allow_recursion | length) > 0 else 'no' }};
  allow-recursion {
    {% if (dns_allow_recursion | length) > 0 -%}
    {{ dns_allow_recursion | join("; ") }};
    {%- else -%}
    none;
    {%- endif %}
  };

  {% if (dns_forwarders | length) > 0 -%}
  forwarders { {{ dns_forwarders | join("; ") }}; };
  forward only;
  {%- endif %}

  dnssec-validation auto;
  auth-nxdomain no;
};
