$TTL {{ zone_ttl }}
@   IN SOA {{ zone_soa.mname }} {{ zone_soa.rname }} (
        {{ zone_soa.serial }}
        {{ zone_soa.refresh }}
        {{ zone_soa.retry }}
        {{ zone_soa.expire }}
        {{ zone_soa.minimum }} )
{% for ns in zone_ns %}
@   IN NS {{ ns }}
{% endfor %}
{% if dns_server_fqdn is defined and dns_server_ip is defined %}
{{ dns_server_fqdn }}. IN A {{ dns_server_ip }}
{% endif %}

